<% if resource.errors.any? %>
  <div id="error_explanation">
    <% resource.errors.full_messages.each do |message| %>
      <article class="message is-danger">
        <div class="message-header">
          <p><%= message %></p>
          <button class="delete" aria-label="delete" type="button"></button>
        </div>
      </article>
    <% end %>
  </div>
<% end %>
