<div class="container">
  <section class="section">
  <div class="columns is-multiline is-mobile">
    <% @ads.each do |ad| %>
      <%= render 'card_advertisement', ad: ad %>
    <% end %>
  </div>
  </section>
</div>
